<!DOCTYPE html>

<head>
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/homepage.css">
    <script src="../js/homepage.js"></script>
</head>

<header>
    <div class="topBar">
        <a href="http://localhost:8050/homepage"><img class="logo" src="../graphics/Logo.png" alt=""></a>
        <img id="userImg" class="userImage" src="" alt="">
    </div>
</header>

<body>
    <div class="categoriesAvailable">
        <a href="./apps.html">
            <div class="category category-apps">
                <h1>APPLICATIONS</h1>
            </div>
        </a>
        <a href="./games.html">
            <div class="category category-games">
                <h1>GAMES</h1>
            </div>
        </a>
        <a href="http://localhost:8050/homepage/movies">
            <div class="category category-movies">
                <h1>MOVIES</h1>
            </div>
        </a>
        <a href="./books.html">
            <div class="category category-books">
                <h1>BOOKS</h1>
            </div>
        </a>
    </div>
</body>
