<!DOCTYPE html>

<head>
    <title>Movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/movies.css">
    <script src="../js/movies.js"></script>
</head>

<header>
    <div class="topBar">
        <a href="http://localhost:8050/homepage"><img class="logo" src="../graphics/Logo.png" alt=""></a>
        <img id="userImg" class="userImage" src="" alt="">
        <div class="currencyDIV">
            <label for="currency">Currency</label>
            <select class="currencySelect" name="currency" id="currency">
                <option value="dollar">USD</option>
                <option value="lira">LBP</option>
            </select>
        </div>
    </div>    
</header>

<body>
    <div id="newMovies" class="movieStrip">
        <h1 >Newest Releases</h1>
        <a href="">View all</a>
    </div>
    <div id="topMovies" class="movieStrip">
        <h1 id="HighR">Highest Rated</h1>
    </div>
</body>